#shop{
    width: 100%;
    position: relative;

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        
        .col-6{
            flex-basis: 16.666%;

            .img{
                position: relative;
                .img-1{
                    background: url(../img/insta-1.jpg.webp) no-repeat;
                    width: 224.8px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                    
                }
                .img-2{
                    background: url(../img/insta-2.jpg.webp) no-repeat;
                    width: 224.8px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                    
                }
                .img-3{
                    background: url(../img/insta-3.jpg.webp) no-repeat;
                    width: 224.8px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                    
                }
                .img-4{
                    background: url(../img/insta-4.jpg.webp) no-repeat;
                    width: 224.9px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                    
                }
                .img-5{
                    background: url(../img/insta-5.jpg.webp) no-repeat;
                    width: 224.8px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                    
                }
                .img-6{
                    background: url(../img/insta-6.jpg.webp) no-repeat;
                    width: 224.8px;
                    height: 320px;
                    background-position: top center;
                    position: relative;
                    transition: 0.5s all ease;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.9);
                        display: none;
                    }
                    &:hover::before{
                        display: block;
                    }
                }
                
                .sc-icon{
                    position: absolute;
                    text-align: center;
                    margin-left: 10px;
                    margin-top: -80%;
                    display: none;
                    transition: 0.5s all ease;
                    i{
                        margin-left: 30px;
                        font-size: 30px;
                        color: $fontColor;
                        // display: none;
                    }

                    a{
                       
                        h2{
                            color: $fontColor;
                            font-size: 16px;
                            font-weight: 500;
                            margin-top: 10px;
                            margin-left: 40px;
                            // display: none;

                            &:hover{
                                color: $colorFOnt;
                            }
                        }
                    }
                }
              &:hover .sc-icon{
                display: block;
                
              }
            }
            
        }
    }
}